table {
  border-collapse: collapse;
}

.hour {
  width: 400px;
  height: 340px;
  overflow-x: scroll;
  position: absolute;
}

.hourheading {
  width: 100px;
  height: 20px;
}

.hourstyle {
  min-width: 100px;
  height: 300px;
  background-color: yellowgreen;
  border: 1px solid black;
  box-sizing: border-box;
}

.currentHour {
  background-color: indigo;
}
