table {
  border-collapse: collapse;
}

.day {
  width: 400px;
  /* height: 340px; */
  overflow-x: scroll;
  position: absolute;
}

.hourheading {
  height: 20px;
}

.hours {
  border: 1px solid black;
}

.hour {
  height: 300px;
  background-color: yellowgreen;
  border: 1px dashed black;
  box-sizing: border-box;
}

.currentHour {
  background-color: indigo;
}
