<!-- <div class="imageContent">
  <img src="../../assets/images/364A2877.JPG">
  
</div> -->

<div class="month">
  <table>
    <tr *ngFor="let day of daysOfMonth">
      <td><div class="dayStyle">{{day[0]}}</div></td>
      <td><div class="dayStyle">{{day[1]}}</div></td>
      <td><div class="dayStyle">{{day[2]}}</div></td>
      <td><div class="dayStyle">{{day[3]}}</div></td>
      <td><div class="dayStyle">{{day[4]}}</div></td>
      <td><div class="dayStyle">{{day[5]}}</div></td>
      <td><div class="dayStyle">{{day[6]}}</div></td>
    </tr>
  </table>
</div>