<!-- <div class="imageContent">
  <img src="../../assets/images/364A2877.JPG">
  
</div> -->

<div class="month">
  <table>
    <tr>
      <th>Sun</th>
      <th>Mon</th>
      <th>Tues</th>
      <th>Wed</th>
      <th>Thurs</th>
      <th>Fri</th>
      <th>Sat</th>
    </tr>
    <tr *ngFor="let day of daysOfMonth">
      <td><div [ngClass]="{'dayStyle':true, 'differentMonth':day[0].length == 0}">{{day[0]}}</div></td>
      <td><div [ngClass]="{'dayStyle':true, 'differentMonth':day[1].length == 0}">{{day[1]}}</div></td>
      <td><div [ngClass]="{'dayStyle':true, 'differentMonth':day[2].length == 0}">{{day[2]}}</div></td>
      <td><div [ngClass]="{'dayStyle':true, 'differentMonth':day[3].length == 0}">{{day[3]}}</div></td>
      <td><div [ngClass]="{'dayStyle':true, 'differentMonth':day[4].length == 0}">{{day[4]}}</div></td>
      <td><div [ngClass]="{'dayStyle':true, 'differentMonth':day[5].length == 0}">{{day[5]}}</div></td>
      <td><div [ngClass]="{'dayStyle':true, 'differentMonth':day[6].length == 0}">{{day[6]}}</div></td>
    </tr>
  </table>
</div>