<!-- <div class="imageContent">
  <img src="../../assets/images/364A2877.JPG">
  
</div> -->

<div class="month">
  <table>
    <tr>
      <th>Sun</th>
      <th>Mon</th>
      <th>Tues</th>
      <th>Wed</th>
      <th>Thurs</th>
      <th>Fri</th>
      <th>Sat</th>
    </tr>
    <tr *ngFor="let weekDay of weeks">
      <td>
        <div class="dayStyle"
          [ngClass]="{'differentMonth':weekDay[0].differentMonth,'isCurrentDay':weekDay[0].isCurrentDay}"
          (click)='GoToDay(weekDay[0].day, weekDay[0].differentMonth, weekDay[0].nextMonth)'>
          {{weekDay[0].day}}
        </div>
      </td>
      <td>
        <div class="dayStyle"
          [ngClass]="{'differentMonth':weekDay[1].differentMonth,'isCurrentDay':weekDay[1].isCurrentDay}"
          (click)='GoToDay(weekDay[1].day, weekDay[1].differentMonth, weekDay[1].nextMonth)'>
          {{weekDay[1].day}}
        </div>
      </td>
      <td>
        <div class="dayStyle"
          [ngClass]="{'differentMonth':weekDay[2].differentMonth,'isCurrentDay':weekDay[2].isCurrentDay}"
          (click)='GoToDay(weekDay[2].day, weekDay[2].differentMonth, weekDay[2].nextMonth)'>
          {{weekDay[2].day}}
        </div>
      </td>
      <td>
        <div class="dayStyle"
          [ngClass]="{'differentMonth':weekDay[3].differentMonth,'isCurrentDay':weekDay[3].isCurrentDay}"
          (click)='GoToDay(weekDay[3].day, weekDay[3].differentMonth, weekDay[3].nextMonth)'>
          {{weekDay[3].day}}
        </div>
      </td>
      <td>
        <div class="dayStyle"
          [ngClass]="{'differentMonth':weekDay[4].differentMonth,'isCurrentDay':weekDay[4].isCurrentDay}"
          (click)='GoToDay(weekDay[4].day, weekDay[4].differentMonth, weekDay[4].nextMonth)'>
          {{weekDay[4].day}}
        </div>
      </td>
      <td>
        <div class="dayStyle"
          [ngClass]="{'differentMonth':weekDay[5].differentMonth,'isCurrentDay':weekDay[5].isCurrentDay}"
          (click)='GoToDay(weekDay[5].day, weekDay[5].differentMonth, weekDay[5].nextMonth)'>
          {{weekDay[5].day}}
        </div>
      </td>
      <td>
        <div class="dayStyle"
          [ngClass]="{'differentMonth':weekDay[6].differentMonth,'isCurrentDay':weekDay[6].isCurrentDay}"
          (click)='GoToDay(weekDay[6].day, weekDay[6].differentMonth, weekDay[6].nextMonth)'>
          {{weekDay[6].day}}
        </div>
      </td>
    </tr>
  </table>
</div>
