input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
  text-align: center;
  font-size: 18px;
  width: 150px;
  background-color: transparent;
  height: 25px;
  outline: none;
  margin-left: 5px;

  -moz-user-select: toggle;
  user-select: text;
}

input:focus {
  color: none;
  background-color: transparent;

}

input::selection {
  color: none;
  background-color: transparent;
  
  -moz-user-select: toggle;
  user-select: none;  
}

::placeholder {
  color: black;
  font-size: 15px;
}

.custominput {
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.sessioninput {
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
}

.session {
  width: 30px;
  height: 15px;
  background-color: orange;
  font-size: 8px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.am {
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 7px 0px 0px 7px
}

.pm {
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 0px 7px 7px 0px
}

.am:active {
  background-color: green;
}

.pm:active {
  background-color: green;
}

.validationmessage {
  font-size: 9px;
  color: black;
  padding-left: 35%;
  padding-right: 10%;
  width: 100%;
  box-sizing: border-box;


  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  /* word-break: break-all */
}
