<div class="custominput">
  <div class="labelItem">
    <label>{{labelName}}:</label>
  </div>
  <div class="inputItem">
    <input appInputType #appInput='ngModel' [placeholder]='placeHolder' [(ngModel)]='CustomInputValue' [ngModelOptions]='updateOnBlur' />
  </div>
  <div class='errormessage' *ngIf='appInput.invalid'>
    <app-display-message [messages]='appInput.errors.messages'></app-display-message>
  </div>
</div>
<div *ngIf='showSession' class="sessioninput">
  <div class="session am">AM</div>
  <div class="session pm">PM</div>
</div>