input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
  text-align: center;
  font-size: 18px;
  width: 150px;
  background-color: transparent;
  height: 20px;
  outline: none;
  margin-left: 5px;
}

input:focus {
  color: none;
  background-color: transparent;
}

input::selection {
  color: none;
  background-color: transparent;

  -moz-user-select: toggle;
  user-select: none;
}

::placeholder {
  color: black;
  font-size: 15px;
}

.custominput {
  display: grid;
  width: 300px;
  grid-template-columns: 30% 70%;
  margin-top: 10px;
}

.labelItem {
  margin-left: auto;
  margin-right: 5px;
  grid-column-start: 1;
  grid-row-start: 1;
}

.inputItem {
  grid-column-start: 2;
  grid-row-start: 1;
}

.sessioninput {
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
}

.session {
  width: 30px;
  height: 15px;
  background-color: orange;
  font-size: 8px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.am {
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 7px 0px 0px 7px
}

.pm {
  border: 1px solid black;
  border-collapse: collapse;
  
  border-radius: 0px 7px 7px 0px;
  margin-left: -1px;
}

.am:active {
  background-color: green;
}

.pm:active {
  background-color: green;
}

.errormessage {
  grid-column-start: 2;
  grid-column-end: 3;
}
