<div class="schedule-event" [formGroup]='scheduleEvent'>
  <div *ngIf='isDisplayDateValid' class="header">
    {{headerLabel + dateSelected}}
  </div>
  <app-custom-input formControlName='{{appDateId}}' [appKey]='appDateId' (dataSource)='update($event)'
    [appInputLabelName]='dateLabel' [appDatePlaceholder]='datePlaceholder'>
  </app-custom-input>
  <app-custom-input formControlName='{{appTimeId}}' [appKey]='appTimeId' (dataSource)='update($event)'
    [appInputLabelName]='timeLabel' [appTimePlaceholder]="timePlaceholder">
  </app-custom-input>
</div>