<div style="display: flex;">
  <div class="sidebar">
    <router-outlet name="schedulebar"></router-outlet>
  </div>
  <div style="margin:auto;">
    <div class="navigationbar">
      <app-navigation-bar></app-navigation-bar>
    </div>
    <div class="mainContent">
      <div class="outer">
        <div class="triangle-left" (click)="GetPrevious()"></div>
        <div class="content">
          <router-outlet></router-outlet>
        </div>
        <div class="triangle-right" (click)="GetNext()"></div>
      </div>
    </div>
  </div>
</div>