img {
    max-width: 100%;
    max-height: 100%;
    margin-top: 50px;
}
.mainContent {
    margin: 100px auto;
    width: 500px;
    height: 300px;
    background-color: yellow;
}
.outer{
    height: inherit;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:auto;
    margin-right:auto;
    width: 400px;
}
.outer .triangle-right {
    display: none;
    float: right;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: -20px;
    border-top: 100px solid transparent;
	border-left: 20px solid blue;
    border-bottom: 100px solid transparent;    
}
.outer .triangle-left {
    display: none;
    float: left;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: -20px;
    border-top: 100px solid transparent;
	border-right: 20px solid blue;
	border-bottom: 100px solid transparent;
}
.outer:hover .triangle-right { 
    display: block;
}
.outer:hover .triangle-left { 
      display: block;
}
.outer .imageContent{
    margin-left: 35px;
    width: 340px;
    height: inherit;
    float: left;
}
