<div class="navigationContent">
  <div [ngClass]="{'year':true,'isclicked':ShowYear}" (click)="SetCurrentDisplay('Y')">
    Year<br>({{Year}})
  </div>
  <div [ngClass]="{'month':true,'isclicked':ShowMonth}" (click)="SetCurrentDisplay('M')">
    MONTH<br>({{Month}})
  </div>
  <div [ngClass]="{'day':true,'isclicked':ShowDay}" (click)="SetCurrentDisplay('D')">
    DAY<br>({{Day}})
  </div>
</div>
<div class="mainContent">
  <div class="outer">
    <div class="triangle-left" (click)="GetPrevious()"></div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    <div class="triangle-right" (click)="GetNext()"></div>
  </div>
</div>
