<div class="schedule">

  <div class="top-margin">
    <table>
      <tr>
        <td class="scheduletd">
          <div style="background-color: blue;">1</div>
        </td>
        <td class="scheduletd">
          <div style="background-color: red;">2</div>
        </td>
        <td class="scheduletd">
          <div style="background-color: orange;">3</div>
        </td>
      </tr>
    </table>
  </div>
  <div class="top-margin">
    <table>
      <tr>
        <td class="scheduletd" style="min-width: 100px">

        </td>
        <td class="scheduletd">
          <div style="background-color: blue;">4</div>
        </td>
        <td class="scheduletd">
          <div style="background-color: red;">5</div>
        </td>
        <td class="scheduletd">
          <div style="background-color: orange;">6</div>
        </td>
      </tr>
    </table>
  </div>
</div>
