<div class="schedule">
  <div class="margin" *ngFor="let schedules of schedulelist">
    <table>
      <tr>
        <td class="scheduletd" [ngClass]="{'scheduleborder':schedule.isSchedule}"
          [ngStyle]="{'min-width.px': schedule.width}" *ngFor="let schedule of schedules">
          <div *ngIf='schedule.isSchedule' style="background-color: cornflowerblue;">
            {{schedule.content}}: From {{schedule.begin}} to {{schedule.end}}
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
