table {
  border-collapse: collapse;
}

.schedule {
  height: 300px;
  position: absolute;

  
  overflow-y: scroll;
  overflow: -moz-hidden-unscrollable;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.schedule .margin {
  margin: 10px 0px;
}

.scheduletd {
  height: 50px;
  padding: 0px;
  box-sizing: border-box;
}

.scheduleborder {
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.scheduletd div {
  height: inherit;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}
