table {
    border-collapse: collapse;
}

.schedule {
  position: absolute;
  /* background-color: transparent; */
}

.schedule .top-margin {
    margin-top: 10px;
}

.scheduletd {
  height: 50px;
  padding: 0px;
  box-sizing: border-box;


  min-width: 200px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.scheduletd div {
    height: inherit;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}
