<div class="schedulebar">
  <form [formGroup]="createScheduleForm" (ngSubmit)="displayForm()">
    <div class="start">
      <div class="header">

      </div>
      <div class="inputdiv">
        <label>
          From:
          <input name="startdate" placeholder="yyyy/mm/dd" />
        </label>
      </div>
      <div class="inputdiv">
        <label>
          Time:
          <input name="starttime" placeholder="hh:mm" />
        </label>
      </div>
      <div class="inputdiv">
          <div class="session am">AM</div>
          <div class="session pm">PM</div>
      </div>
    </div>
  </form>
</div>