<div class="schedulebar">
  <form>
    <app-schedule-event [scheduleEventDateLabel]="'From'" [sheduleEventDatePlaceholder]="'yyyy/mm/dd'" [scheduleEventDateId]="'FromDate'"
      [scheduleEventTimeLabel]="'Time'" [scheduleEventTimePlaceholder]="'hh:mm'" [scheduleEventTimeId]="'FromTime'">
    </app-schedule-event>
    <app-schedule-event [scheduleEventDateLabel]="'To'" [sheduleEventDatePlaceholder]="'yyyy/mm/dd'" [scheduleEventDateId]="'ToDate'"
      [scheduleEventTimeLabel]="'Time'" [scheduleEventTimePlaceholder]="'hh:mm'" [scheduleEventTimeId]="'ToTime'">
    </app-schedule-event>
  </form>
</div>